Repository kubernetes-sigs/gcp-compute-persistent-disk-csi-driver, pull requests merged in 2020-06, with the labels that each got.

#518 Adding leader election to controllers in staging rc
  deploy/kubernetes/overlays/prow-gke-release-staging-rc/enable-leader-election.yaml
  deploy/kubernetes/overlays/prow-gke-release-staging-rc/kustomization.yaml
  deploy/kubernetes/overlays/prow-gke-release-staging-rc/leader-election-rbac.yaml
  deploy/kubernetes/overlays/prow-gke-release-staging-rc/statefulset-to-deployment.yaml
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/L

#528 update leader election flags for latest provisioner image in rc-head overlay
  deploy/kubernetes/overlays/prow-gke-release-staging-head/kustomization.yaml
  deploy/kubernetes/overlays/prow-gke-release-staging-head/leader-election-flag.yaml
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, release-note-none, size/S

#515 Add option to deploy GKE managed PD CSI driver for integration tests
  test/k8s-integration/cluster.go
  test/k8s-integration/main.go
  test/k8s-integration/utils.go
  test/k8s-integration/version.go
  test/k8s-integration/version_test.go
  test/run-k8s-integration-local.sh
  test/run-k8s-integration.sh
Labels: approved, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note, size/XL

#527 Return success in CreateVolume when disk is READY
  pkg/gce-cloud-provider/compute/cloud-disk.go
  pkg/gce-cloud-provider/compute/fake-gce.go
  pkg/gce-pd-csi-driver/controller.go
  pkg/gce-pd-csi-driver/controller_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note, size/L

#536 Honor image type option in GKE cluster deploy
  test/k8s-integration/cluster.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note, size/XS

#538 Add autorepair options for GKE release channel
  test/k8s-integration/cluster.go
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, ok-to-test, release-note, size/XS

#534 Adding verult as repo approver
  OWNERS
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/XS

#540 Disable VolumeInUse Error handler in CSI Resizer
  deploy/kubernetes/overlays/prow-gke-release-staging-head/kustomization.yaml
  deploy/kubernetes/overlays/prow-gke-release-staging-head/volume-inuse-error-handler.yaml
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, ok-to-test, release-note, size/XS
