Repository kubernetes-sigs/gcp-compute-persistent-disk-csi-driver, pull requests merged in 2020-05, with the labels that each got.

#500 Enable csi snapshotter
  deploy/kubernetes/overlays/prow-gke-release-staging-head/controller_add_snapshotter.yaml
  deploy/kubernetes/overlays/prow-gke-release-staging-head/kustomization.yaml
  deploy/kubernetes/overlays/prow-gke-release-staging-head/rbac_add_snapshots_to_provisioner.yaml
  deploy/kubernetes/overlays/prow-gke-release-staging-head/rbac_add_snapshotter.yaml
  deploy/kubernetes/overlays/prow-gke-release-staging-rc/controller_add_snapshotter.yaml
  deploy/kubernetes/overlays/prow-gke-release-staging-rc/enable_sidecar_metrics.yaml
  deploy/kubernetes/overlays/prow-gke-release-staging-rc/kustomization.yaml
  deploy/kubernetes/overlays/prow-gke-release-staging-rc/rbac_add_snapshots_to_provisioner.yaml
  deploy/kubernetes/overlays/prow-gke-release-staging-rc/rbac_add_snapshotter.yaml
Labels: approved, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note, size/L

#502 Add logging to debug why test skip isn't effective
  test/k8s-integration/main.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note-none, size/XS

#505 Provide optional flags to run PD CSI driver snapshot tests
  test/k8s-integration/config/pd-volumesnapshotclass.yaml
  test/k8s-integration/config/test-config-template.in
  test/k8s-integration/driver-config.go
  test/k8s-integration/main.go
  test/run-k8s-integration-local.sh
  test/run-k8s-integration.sh
Labels: approved, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note, size/M

#507 Enable csi snapshotter in stable overlay
  deploy/kubernetes/base/controller.yaml
  deploy/kubernetes/base/setup-cluster.yaml
  deploy/kubernetes/overlays/alpha/controller_add_snapshotter.yaml
  deploy/kubernetes/overlays/alpha/kustomization.yaml
  deploy/kubernetes/overlays/alpha/rbac_add_snapshots_to_provisioner.yaml
  deploy/kubernetes/overlays/alpha/rbac_add_snapshotter.yaml
  deploy/kubernetes/overlays/prow-gke-release-staging-head/controller_add_snapshotter.yaml
  deploy/kubernetes/overlays/prow-gke-release-staging-head/kustomization.yaml
  deploy/kubernetes/overlays/prow-gke-release-staging-head/rbac_add_snapshots_to_provisioner.yaml
  deploy/kubernetes/overlays/prow-gke-release-staging-head/rbac_add_snapshotter.yaml
  deploy/kubernetes/overlays/prow-gke-release-staging-rc/controller_add_snapshotter.yaml
  deploy/kubernetes/overlays/prow-gke-release-staging-rc/enable_sidecar_metrics.yaml
  deploy/kubernetes/overlays/prow-gke-release-staging-rc/kustomization.yaml
  deploy/kubernetes/overlays/prow-gke-release-staging-rc/rbac_add_snapshots_to_provisioner.yaml
  deploy/kubernetes/overlays/prow-gke-release-staging-rc/rbac_add_snapshotter.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
  test/run-k8s-integration.sh
Labels: approved, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note, size/L

#508 Update documentation and user guides for beta snapshotter
  README.md
  docs/kubernetes/user-guides/snapshots.md
  examples/kubernetes/snapshot/default-volumesnapshotclass.yaml
  examples/kubernetes/snapshot/snapshot.yaml
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, release-note, size/M

#509 Migrate instructions
  docs/kubernetes/user-guides/snapshots.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note-none, size/L

#517 Bump stable overlay image versions to match latest staging RC overlay
  deploy/kubernetes/base/controller.yaml
  deploy/kubernetes/overlays/prow-gke-release-staging-rc/enable_sidecar_metrics.yaml
  deploy/kubernetes/overlays/prow-gke-release-staging-rc/kustomization.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Labels: approved, cncf-cla: yes, kind/feature, lgtm, release-note, size/M
