Repository kubernetes-sigs/gcp-compute-persistent-disk-csi-driver, pull requests merged in 2021-11, with the labels that each got.

#830 Enable kubelet-registration-probe mode in node-driver-registrar in Windows & Linux
  deploy/kubernetes/base/node_linux/node.yaml
  deploy/kubernetes/base/node_windows/node.yaml
  deploy/kubernetes/images/prow-gke-release-staging-rc-master/image.yaml
  deploy/kubernetes/overlays/stable-1-17/kustomization.yaml
  deploy/kubernetes/overlays/stable-1-17/no-node-driver-registrar-probe.yaml
  deploy/kubernetes/overlays/stable-1-18/kustomization.yaml
  deploy/kubernetes/overlays/stable-1-18/no-node-driver-registrar-probe.yaml
  deploy/kubernetes/overlays/stable-1-19/kustomization.yaml
  deploy/kubernetes/overlays/stable-1-19/no-node-driver-registrar-probe.yaml
  deploy/kubernetes/overlays/stable-master/kustomization.yaml
  deploy/kubernetes/overlays/stable-master/no-node-driver-registrar-probe.yaml
Labels: kind/feature, size/L, cncf-cla: yes, lgtm, approved, release-note-none

#835 v1.0.4 notes
  CHANGELOG/CHANGELOG-1.0.md
Labels: cncf-cla: yes, lgtm, approved, size/S, release-note-none

#865 Use correct images for alpha and dev builds
  deploy/kubernetes/images/alpha/image.yaml
  deploy/kubernetes/images/alpha/kustomization.yaml
  deploy/kubernetes/overlays/dev/WARNING.md
Labels: cncf-cla: yes, lgtm, approved, size/S, kind/failing-test, release-note-none

#854 Volume cloning feature
  pkg/gce-cloud-provider/compute/cloud-disk.go
  pkg/gce-cloud-provider/compute/fake-gce.go
  pkg/gce-cloud-provider/compute/gce-compute.go
  pkg/gce-pd-csi-driver/controller.go
  pkg/gce-pd-csi-driver/controller_test.go
  pkg/gce-pd-csi-driver/gce-pd-driver.go
  test/k8s-integration/driver-config.go
  test/k8s-integration/main.go
Labels: kind/feature, size/L, cncf-cla: yes, lgtm, approved, release-note, ok-to-test

#870 Change to distroless base image
  Dockerfile
  Dockerfile.arm64
  Makefile
Labels: cncf-cla: yes, lgtm, approved, size/M, release-note-none, ok-to-test

#874 master: update release-tools
  release-tools/README.md
  release-tools/SECURITY_CONTACTS
  release-tools/SIDECAR_RELEASE_PROCESS.md
  release-tools/build.make
  release-tools/cloudbuild.yaml
  release-tools/go-get-kubernetes.sh
  release-tools/prow.sh
Labels: size/L, cncf-cla: yes, lgtm, approved, release-note-none
