Repository kubernetes-sigs/gcp-compute-persistent-disk-csi-driver, pull requests merged in 2021-05, with the labels that each got.

#778 Changelog from 1.2.2 release
  CHANGELOG/CHANGELOG-1.2.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, release-note-none, size/S

#779 Update csi sidecar versions on staging rc
  deploy/kubernetes/images/prow-gke-release-staging-rc-master/image.yaml
  deploy/kubernetes/images/prow-gke-release-staging-rc/image.yaml
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/S

#780 Update csi sidecar versions on stable
  deploy/kubernetes/images/stable-master/image.yaml
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/XS

#783 use v1 CSIDriver object for 1.18+ clusters; clean up pre-1.17 versions
  README.md
  deploy/kubernetes/base/controller/kustomization.yaml
  deploy/kubernetes/base/controller/v1_csidriver.yaml
  deploy/kubernetes/overlays/prow-gke-release-staging-rc-1-15/README.md
  deploy/kubernetes/overlays/prow-gke-release-staging-rc-1-15/kustomization.yaml
  deploy/kubernetes/overlays/prow-gke-release-staging-rc-1-16/README.md
  deploy/kubernetes/overlays/prow-gke-release-staging-rc-1-16/kustomization.yaml
  deploy/kubernetes/overlays/prow-gke-release-staging-rc-1-17/kustomization.yaml
  deploy/kubernetes/overlays/prow-gke-release-staging-rc-1-17/no_v1_csidriver.yaml
  deploy/kubernetes/overlays/prow-gke-release-staging-rc-1-17/v1beta1_csidriver.yaml
  deploy/kubernetes/overlays/stable-1-15/kustomization.yaml
  deploy/kubernetes/overlays/stable-1-15/metrics_leaderelection_endpoint.yaml
  deploy/kubernetes/overlays/stable-1-15/no_resizer_snapshotter_roles.yaml
  deploy/kubernetes/overlays/stable-1-15/no_resizer_snapshotter_sidecar.yaml
  deploy/kubernetes/overlays/stable-1-15/no_win_roles.yaml
  deploy/kubernetes/overlays/stable-1-16/kustomization.yaml
  deploy/kubernetes/overlays/stable-1-16/metrics_leaderelection_endpoint.yaml
  deploy/kubernetes/overlays/stable-1-16/no_snapshotter_roles.yaml
  deploy/kubernetes/overlays/stable-1-16/no_snapshotter_sidecar.yaml
  deploy/kubernetes/overlays/stable-1-16/no_win_roles.yaml
  deploy/kubernetes/overlays/stable-1-17/kustomization.yaml
  deploy/kubernetes/overlays/stable-1-17/no_v1_csidriver.yaml
  deploy/kubernetes/overlays/stable-1-17/v1beta1_csidriver.yaml
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, release-note, size/L
