Repository kubernetes-sigs/gcp-compute-persistent-disk-csi-driver, pull requests merged in 2021-12, with the labels that each got.

#847 Attach/Detach back off
  pkg/gce-pd-csi-driver/controller.go
  pkg/gce-pd-csi-driver/controller_test.go
  pkg/gce-pd-csi-driver/gce-pd-driver.go
Labels: kind/feature, size/L, cncf-cla: yes, lgtm, approved, release-note-none, ok-to-test

#871 Log operation id for attach and detach
  pkg/gce-cloud-provider/compute/gce-compute.go
Labels: kind/bug, cncf-cla: yes, lgtm, approved, size/S, release-note-none, ok-to-test

#869 pdcsi rox workflow fix
  deploy/kubernetes/images/alpha/image.yaml
  deploy/kubernetes/images/alpha/kustomization.yaml
  deploy/kubernetes/overlays/alpha/controller_readonly.yaml
  deploy/kubernetes/overlays/alpha/kustomization.yaml
  pkg/gce-pd-csi-driver/controller.go
  pkg/gce-pd-csi-driver/controller_test.go
  pkg/gce-pd-csi-driver/node.go
  pkg/gce-pd-csi-driver/utils.go
  pkg/gce-pd-csi-driver/utils_test.go
Labels: kind/feature, size/L, cncf-cla: yes, lgtm, approved, release-note, ok-to-test

#875 Enable Kubernetes e2e tests for volume cloning
  test/k8s-integration/config/test-config-template.in
  test/k8s-integration/driver-config.go
  test/k8s-integration/main.go
Labels: cncf-cla: yes, lgtm, approved, size/S, release-note-none, ok-to-test

#878 Add changelog for release 1.4.0
  CHANGELOG/CHANGELOG-1.4.md
Labels: size/L, cncf-cla: yes, lgtm, kind/documentation, approved, release-note-none, ok-to-test

#881 turn on read-only for dev channel instead of alpha
  deploy/kubernetes/overlays/alpha/kustomization.yaml
  deploy/kubernetes/overlays/dev/controller_readonly.yaml
  deploy/kubernetes/overlays/dev/kustomization.yaml
Labels: cncf-cla: yes, lgtm, approved, size/XS, release-note-none, ok-to-test

#882 Update version download for current upstream capabilities
  test/k8s-integration/cluster.go
  test/k8s-integration/main.go
Labels: cncf-cla: yes, lgtm, approved, size/M, kind/failing-test, release-note-none

#883 skip volume cloning tests until we backport
  test/k8s-integration/main.go
Labels: cncf-cla: yes, lgtm, approved, kind/failing-test, size/XS, release-note-none
