Repository kubernetes-sigs/gcp-compute-persistent-disk-csi-driver, pull requests merged in 2021-08, with the labels that each got.

#810 Update container-storage-interface dependency to v1.5.0
  go.mod
  go.sum
  pkg/gce-pd-csi-driver/controller.go
  vendor/github.com/container-storage-interface/spec/lib/go/csi/csi.pb.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, kind/feature, lgtm, release-note-none, size/XXL

#814 Update k8s dependencies to v1.22.0
  go.mod
  go.sum
  vendor/github.com/sirupsen/logrus/.travis.yml
  vendor/github.com/sirupsen/logrus/CHANGELOG.md
  vendor/github.com/sirupsen/logrus/README.md
  vendor/github.com/sirupsen/logrus/entry.go
  vendor/github.com/sirupsen/logrus/go.sum
  vendor/github.com/sirupsen/logrus/json_formatter.go
  vendor/github.com/sirupsen/logrus/logger.go
  vendor/github.com/sirupsen/logrus/terminal_check_unix.go
  vendor/github.com/sirupsen/logrus/text_formatter.go
  vendor/golang.org/x/time/rate/rate.go
  vendor/modules.txt
Labels: kind/feature, size/L, cncf-cla: yes, lgtm, approved, release-note

#815 Update additional k8s dependencies to v1.22.0
  go.mod
  go.sum
  vendor/k8s.io/kubernetes/test/e2e/storage/podlogs/podlogs.go
  vendor/modules.txt
Labels: kind/feature, size/L, cncf-cla: yes, lgtm, approved, release-note-none

#813 list volumes in cluster's region instead of zone
  pkg/gce-cloud-provider/compute/fake-gce.go
  pkg/gce-cloud-provider/compute/gce-compute.go
  pkg/gce-pd-csi-driver/controller.go
  pkg/gce-pd-csi-driver/controller_test.go
  pkg/gce-pd-csi-driver/gce-pd-driver.go
Labels: kind/bug, size/L, cncf-cla: yes, lgtm, approved, release-note-none, ok-to-test

#817 Cherry-pick #813 to release-1.3
  pkg/gce-cloud-provider/compute/fake-gce.go
  pkg/gce-cloud-provider/compute/gce-compute.go
  pkg/gce-pd-csi-driver/controller.go
  pkg/gce-pd-csi-driver/controller_test.go
  pkg/gce-pd-csi-driver/gce-pd-driver.go
Labels: size/L, cncf-cla: yes, lgtm, approved, release-note, ok-to-test

#816 Update CSI sanity to v4.2.0
  go.mod
  go.sum
  pkg/gce-cloud-provider/compute/fake-gce.go
  test/sanity/sanity_test.go
  vendor/github.com/kubernetes-csi/csi-test/v3/pkg/sanity/cleanup.go
  vendor/github.com/kubernetes-csi/csi-test/v3/pkg/sanity/controller.go
  vendor/github.com/kubernetes-csi/csi-test/v3/pkg/sanity/node.go
  vendor/github.com/kubernetes-csi/csi-test/v4/LICENSE
  vendor/github.com/kubernetes-csi/csi-test/v4/pkg/sanity/README.md
  vendor/github.com/kubernetes-csi/csi-test/v4/pkg/sanity/controller.go
  vendor/github.com/kubernetes-csi/csi-test/v4/pkg/sanity/identity.go
  vendor/github.com/kubernetes-csi/csi-test/v4/pkg/sanity/node.go
  vendor/github.com/kubernetes-csi/csi-test/v4/pkg/sanity/resources.go
  vendor/github.com/kubernetes-csi/csi-test/v4/pkg/sanity/sanity.go
  vendor/github.com/kubernetes-csi/csi-test/v4/pkg/sanity/tests.go
  vendor/github.com/kubernetes-csi/csi-test/v4/pkg/sanity/util.go
  vendor/github.com/kubernetes-csi/csi-test/v4/utils/grpcutil.go
  vendor/github.com/kubernetes-csi/csi-test/v4/utils/safegoroutinetester.go
  vendor/github.com/nxadm/tail/.travis.yml
  vendor/github.com/onsi/ginkgo/CHANGELOG.md
  vendor/github.com/onsi/ginkgo/README.md
  vendor/github.com/onsi/ginkgo/config/config.go
  vendor/github.com/onsi/ginkgo/ginkgo_dsl.go
  vendor/github.com/onsi/ginkgo/internal/testingtproxy/testing_t_proxy.go
  vendor/github.com/onsi/gomega/.travis.yml
  vendor/github.com/onsi/gomega/CHANGELOG.md
  vendor/github.com/onsi/gomega/format/format.go
  vendor/github.com/onsi/gomega/go.mod
  vendor/github.com/onsi/gomega/go.sum
  vendor/github.com/onsi/gomega/gomega_dsl.go
  vendor/modules.txt
Labels: cncf-cla: yes, lgtm, size/XXL, approved, release-note, kind/cleanup

#819 v1.3.1 changelog
  CHANGELOG/CHANGELOG-1.3.md
Labels: cncf-cla: yes, lgtm, kind/documentation, approved, size/S, release-note-none

#820 v1.3.1 changelog
  CHANGELOG/CHANGELOG-1.3.md
Labels: cncf-cla: yes, lgtm, kind/documentation, approved, size/S, release-note-none

#821 Stage v1.3.1-rc1
  deploy/kubernetes/images/prow-gke-release-staging-rc-master/image.yaml
Labels: cncf-cla: yes, lgtm, approved, size/XS, kind/cleanup, release-note-none

#823 use stable-master image as base for prow-gke-release-staging-rc-master
  deploy/kubernetes/images/prow-gke-release-staging-rc-master/image.yaml
Labels: kind/bug, cncf-cla: yes, lgtm, approved, size/S, release-note-none

#824 Push v1.3.1 release
  README.md
  deploy/kubernetes/images/prow-gke-release-staging-rc-master/image.yaml
  deploy/kubernetes/images/stable-master/image.yaml
Labels: cncf-cla: yes, lgtm, kind/documentation, approved, size/XS, release-note-none

#826 Update debian base image to 1.9.0
  Dockerfile
Labels: cncf-cla: yes, lgtm, approved, release-note, size/S, kind/cleanup
