Repository kubernetes-sigs/gcp-compute-persistent-disk-csi-driver, pull requests merged in 2021-06, with the labels that each got.

#782 Allow cross project snapshots and volumes
  pkg/common/utils.go
  pkg/common/utils_test.go
  pkg/gce-cloud-provider/compute/fake-gce.go
  pkg/gce-cloud-provider/compute/gce-compute.go
  pkg/gce-pd-csi-driver/controller.go
  pkg/gce-pd-csi-driver/controller_test.go
  pkg/gce-pd-csi-driver/node.go
  pkg/gce-pd-csi-driver/utils_linux.go
  pkg/gce-pd-csi-driver/utils_windows.go
  test/e2e/tests/single_zone_e2e_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note, size/XL

#790 Reduce kubetest2 parallel tests
  test/k8s-integration/main.go
Labels: approved, cncf-cla: yes, do-not-merge/hold, kind/failing-test, release-note-none, size/XS

#788 Disable uuid checks on XFS
  pkg/gce-pd-csi-driver/node.go
  pkg/gce-pd-csi-driver/utils.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, release-note, size/S

#737 update image registry location
  README.md
  docs/kubernetes/user-guides/snapshots.md
Labels: approved, cncf-cla: yes, kind/cleanup, kind/documentation, release-note-none, size/XS

#793 Allow users to specify "storage-locations" for snapshots.
  docs/kubernetes/user-guides/snapshots.md
  examples/kubernetes/snapshot/volumesnapshotclass-storage-locations.yaml
  pkg/common/parameters.go
  pkg/common/parameters_test.go
  pkg/common/utils.go
  pkg/common/utils_test.go
  pkg/gce-cloud-provider/compute/fake-gce.go
  pkg/gce-cloud-provider/compute/gce-compute.go
  pkg/gce-pd-csi-driver/controller.go
  pkg/gce-pd-csi-driver/controller_test.go
Labels: cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note, size/L

#795 Add e2e test for snapshot storage location parameter.
  test/e2e/tests/single_zone_e2e_test.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-ok-to-test, release-note-none, size/M
