Repository kubernetes-sigs/gcp-compute-persistent-disk-csi-driver, pull requests merged in 2022-10, with the labels that each got.

#1059 Revert "Prune changelog for 1.8 release"
  CHANGELOG.md
  CHANGELOG/CHANGELOG-0.6.md
  CHANGELOG/CHANGELOG-0.7.md
  CHANGELOG/CHANGELOG-1.0.md
  CHANGELOG/CHANGELOG-1.1.md
  CHANGELOG/CHANGELOG-1.2.md
  CHANGELOG/CHANGELOG-1.3.md
  CHANGELOG/CHANGELOG-1.4.md
  CHANGELOG/CHANGELOG-1.5.md
  CHANGELOG/CHANGELOG-1.6.md
  CHANGELOG/CHANGELOG-1.7.md
  CHANGELOG/CHANGELOG-1.8.md
  CHANGELOG/README.md
Labels: cncf-cla: yes, do-not-merge/release-note-label-needed

#1060 prune changelog for 1.8 release
  CHANGELOG.md
  CHANGELOG/CHANGELOG-0.6.md
  CHANGELOG/CHANGELOG-0.7.md
  CHANGELOG/CHANGELOG-1.0.md
  CHANGELOG/CHANGELOG-1.1.md
  CHANGELOG/CHANGELOG-1.2.md
  CHANGELOG/CHANGELOG-1.3.md
  CHANGELOG/CHANGELOG-1.4.md
  CHANGELOG/CHANGELOG-1.5.md
  CHANGELOG/CHANGELOG-1.6.md
  CHANGELOG/CHANGELOG-1.7.md
  CHANGELOG/CHANGELOG-1.8.md
  CHANGELOG/README.md
Labels: cncf-cla: yes, lgtm, size/XXL, kind/documentation, approved, release-note-none

#1067 Enable GKE service API before the cluster creation
  test/k8s-integration/cluster.go
Labels: kind/bug, cncf-cla: yes, lgtm, approved, size/S, release-note-none, ok-to-test

#1068 Fix the "gcloud services enable" logic
  test/k8s-integration/cluster.go
Labels: kind/bug, cncf-cla: yes, lgtm, approved, size/S, release-note-none, ok-to-test

#1069 Revert all the new service enable logic
  test/k8s-integration/cluster.go
Labels: kind/bug, cncf-cla: yes, lgtm, approved, size/S, release-note-none, ok-to-test

#972 filesystem is not resized when restoring from snapshot/cloning to larger size than origin
  pkg/gce-pd-csi-driver/node.go
  pkg/gce-pd-csi-driver/node_test.go
  pkg/resizefs/resizefs_linux.go
  test/e2e/tests/resize_e2e_test.go
Labels: kind/bug, size/L, cncf-cla: yes, lgtm, approved, release-note, ok-to-test
