Repository kubernetes-sigs/gcp-compute-persistent-disk-csi-driver, pull requests merged in 2022-11, with the labels that each got.

#1066 Support add the snapshot labels to images
  pkg/gce-cloud-provider/compute/fake-gce.go
  pkg/gce-cloud-provider/compute/gce-compute.go
  test/k8s-integration/config/image-volumesnapshotclass.yaml
  test/k8s-integration/config/pd-volumesnapshotclass.yaml
Labels: kind/feature, cncf-cla: yes, lgtm, approved, release-note, size/XS, ok-to-test

#1073 Add debugging log for the mapping of a PD name to /dev/* path
  pkg/mount-manager/device-utils.go
Labels: cncf-cla: yes, lgtm, approved, size/XS, release-note-none, ok-to-test

#1075 Update version parsing for beta prereleases
  test/k8s-integration/version.go
  test/k8s-integration/version_test.go
Labels: cncf-cla: yes, lgtm, approved, size/S, kind/failing-test, release-note-none

#1078 master: update release-tools
  release-tools/KUBERNETES_CSI_OWNERS_ALIASES
  release-tools/prow.sh
Labels: cncf-cla: yes, lgtm, approved, size/M, release-note-none

#1072 Add udevadm binary to container image
  Dockerfile
Labels: kind/bug, cncf-cla: yes, lgtm, approved, release-note, size/XS, ok-to-test

#1076 update OWNERS
  OWNERS
Labels: cncf-cla: yes, lgtm, approved, size/S, kind/cleanup, release-note-none

#1077 Add compute-endpoint flag to pdcsi driver
  cmd/gce-pd-csi-driver/main.go
  pkg/gce-cloud-provider/compute/gce.go
  pkg/gce-pd-csi-driver/controller.go
  pkg/gce-pd-csi-driver/controller_test.go
  test/e2e/tests/setup_e2e_test.go
  test/e2e/tests/single_zone_e2e_test.go
  test/e2e/utils/utils.go
Labels: kind/feature, size/L, cncf-cla: yes, lgtm, approved, release-note-none, ok-to-test

#1080 add beta/v1 suffix to passed-in compute endpoint
  pkg/gce-cloud-provider/compute/gce.go
  test/e2e/tests/single_zone_e2e_test.go
Labels: kind/feature, cncf-cla: yes, lgtm, approved, size/XS, release-note-none, ok-to-test

#1052 fix: copy compiled binary into final image
  Dockerfile.debug
Labels: kind/bug, cncf-cla: yes, lgtm, approved, size/XS, release-note-none, ok-to-test

#1081 Update local development instructions
  README.md
  deploy/common.sh
  docs/kubernetes/development.md
  docs/local-development.md
Labels: cncf-cla: yes, lgtm, kind/documentation, approved, size/M, release-note-none, ok-to-test

#1084 Upgrade klog v1 to v2 and fix error wrapping
  cmd/gce-pd-csi-driver/main.go
  go.mod
  go.sum
  pkg/gce-cloud-provider/compute/fake-gce.go
  pkg/gce-cloud-provider/compute/gce-compute.go
  pkg/gce-cloud-provider/compute/gce.go
  pkg/gce-pd-csi-driver/controller.go
  pkg/gce-pd-csi-driver/gce-pd-driver.go
  pkg/gce-pd-csi-driver/node.go
  pkg/gce-pd-csi-driver/server.go
  pkg/gce-pd-csi-driver/utils.go
  pkg/metrics/metrics.go
  pkg/mount-manager/device-utils.go
  pkg/mount-manager/safe-mounter-v1_windows.go
  pkg/mount-manager/safe-mounter-v1beta_windows.go
  pkg/mount-manager/safe-mounter_windows.go
  pkg/resizefs/resizefs_linux.go
  pkg/resizefs/resizefs_windows.go
  test/e2e/tests/multi_zone_e2e_test.go
  test/e2e/tests/resize_e2e_test.go
  test/e2e/tests/setup_e2e_test.go
  test/e2e/tests/single_zone_e2e_test.go
  test/e2e/utils/utils.go
  test/k8s-integration/cluster.go
  test/k8s-integration/driver.go
  test/k8s-integration/filter-junit.go
  test/k8s-integration/main.go
  test/k8s-integration/utils.go
  test/k8s-integration/version.go
  test/remote/archiver.go
  test/remote/client-wrappers.go
  test/remote/instance.go
  test/remote/runner.go
  test/remote/setup-teardown.go
  test/remote/ssh.go
  vendor/k8s.io/klog/.travis.yml
  vendor/k8s.io/klog/CONTRIBUTING.md
  vendor/k8s.io/klog/LICENSE
  vendor/k8s.io/klog/OWNERS
  vendor/k8s.io/klog/README.md
  vendor/k8s.io/klog/RELEASE.md
  vendor/k8s.io/klog/SECURITY_CONTACTS
  vendor/k8s.io/klog/code-of-conduct.md
  vendor/k8s.io/klog/klog.go
  vendor/k8s.io/klog/klog_file.go
  vendor/modules.txt
Labels: cncf-cla: yes, lgtm, size/XXL, approved, release-note-none, ok-to-test

#1086 Add note about how to run performance test
  docs/kubernetes/development.md
Labels: cncf-cla: yes, lgtm, kind/documentation, approved, size/S, release-note-none, ok-to-test

#1087 Lower threshold on backoff for sanity tests
  cmd/gce-pd-csi-driver/main.go
  pkg/gce-pd-csi-driver/controller.go
  pkg/gce-pd-csi-driver/controller_test.go
  pkg/gce-pd-csi-driver/gce-pd-driver.go
  pkg/gce-pd-csi-driver/gce-pd-driver_test.go
  test/sanity/sanity_test.go
Labels: cncf-cla: yes, lgtm, approved, size/M, kind/failing-test, release-note-none, ok-to-test

#1083 Fix resize-related sanity test failures
  cmd/gce-pd-csi-driver/main.go
  creds/cloud-sa.json
  pkg/deviceutils/device-utils.go
  pkg/deviceutils/device-utils_linux.go
  pkg/deviceutils/device-utils_test.go
  pkg/deviceutils/device-utils_windows.go
  pkg/deviceutils/fake-device-utils.go
  pkg/gce-pd-csi-driver/gce-pd-driver.go
  pkg/gce-pd-csi-driver/node.go
  pkg/gce-pd-csi-driver/node_test.go
  test/e2e/tests/single_zone_e2e_test.go
  test/sanity/sanity_test.go
Labels: cncf-cla: yes, lgtm, approved, size/M, kind/failing-test, release-note-none, ok-to-test

#1091 Automated cherry pick of #1050: list out regional PD in listDisk Call
  pkg/gce-cloud-provider/compute/gce-compute.go
Labels: cncf-cla: yes, lgtm, approved, release-note, size/S, ok-to-test

#1085 limit grpc logging info to a configurable character limit
  cmd/gce-pd-csi-driver/main.go
  pkg/gce-pd-csi-driver/gce-pd-driver.go
  pkg/gce-pd-csi-driver/utils.go
  test/sanity/sanity_test.go
Labels: kind/bug, cncf-cla: yes, lgtm, approved, release-note, size/S
