Repository kubernetes-sigs/gcp-compute-persistent-disk-csi-driver, pull requests merged in 2025-07, with the labels that each got.

#2120 Add c4d to gen4 attach limit list
  pkg/gce-pd-csi-driver/node.go
  pkg/gce-pd-csi-driver/node_test.go
Labels: kind/bug, cncf-cla: yes, lgtm, approved, size/XS, release-note-none, ok-to-test

#2127 fix: update Hyperdisk attach limits to match GCP documentation for Ge…
  pkg/common/constants.go
  pkg/common/utils.go
  pkg/gce-pd-csi-driver/node.go
  pkg/gce-pd-csi-driver/node_test.go
Labels: size/L, cncf-cla: yes, lgtm, approved, release-note, ok-to-test

#2112 default data cache enabled to false
  cmd/gce-pd-csi-driver/main.go
  pkg/gce-pd-csi-driver/node.go
  pkg/gce-pd-csi-driver/utils.go
  pkg/gce-pd-csi-driver/utils_test.go
Labels: cncf-cla: yes, lgtm, approved, release-note, size/M
